flask-zappa/app/api/templates/describefeaturetype_2.0.0.xml

<?xml version="1.0"?><xsd:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://test.geo-solutions.it" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://test.geo-solutions.it"><xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://demo.geo-solutions.it:443/geoserver/schemas/gml/3.2.1/gml.xsd"/><xsd:complexType name="cadastral.geojson.cojType"><xsd:complexContent><xsd:extension base="gml:AbstractFeatureType"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:MultiSurfacePropertyType"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:element name="cadastral.geojson.coj" substitutionGroup="gml:AbstractFeature" type="test:cadastral.geojson.cojType"/></xsd:schema>